{% extends "base.html" %}

{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>A Yapı</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}


	<div class="tp-banner-container main-banner">
		<div class="tp-banner white-slide " >
			<ul>
				{% for s in slider %}
				<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-thumb=""  data-saveperformance="on"  data-title="Intro Slide">


					<img src="{% if s.image %}{{ s.image.url }}{% else %}{% endif %}" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">



					<div class="tp-caption grey_heavy_72 fade start"
						data-x="60"
						data-y="610"
						data-speed="1000"
						data-start="1000"

						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						style="z-index:7; max-width: auto; font-size:20px; letter-spacing:2px; max-height: auto; white-space: nowrap;">{{s.small}}
					</div>


					<div class="tp-caption black_heavy_60 fade start"
						data-x="60"
						data-y="640"
						data-speed="1000"
						data-start="1000"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap; text-transform:uppercase; line-height:72px;">{{s.big}}
						<br/> A Yapı
					</div>


					<div class="tp-caption customin rs-parallaxlevel-0"
						data-x="left"
						data-y="bottom"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="0"
						data-start="10"
						data-easing="Power3.easeInOut"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						style="z-index: 6;"><img style="width:100%;" alt="" src="{% static 'images/slides/yellow-bg.png' %}">
					</div>



					<!-- LAYER NR. 11 -->
					<div class="tp-caption customin tp-resizeme rs-parallaxlevel-0 fade"
						data-x="60"
						data-y="820"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="1000"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-linktoslide="next"
						style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"><a href='{{s.link}}' class='largeredbtn'>Detay</a>
					</div>


				</li>
				{% endfor %}
			</ul>
<div class="tp-bannertimer"></div>	</div>
</div>
<div class="divider-dark"></div>




	<!-- START CONTENT -->
	<div class="content">

		<!-- START OUR STUDIOS -->
		<section class="our-studio">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<div class="icons">
							<i class="icon-noun_35247_cc"></i>
							<i class="icon-noun_75842_cc"></i>
							<i class="icon-noun_301911_cc"></i>
						</div>
						<span>Keep away from people who try to belittle Good just ask Planning your ambitions Design people always do that but the really great. Friendly neighbour there that power. Keep away Architecture who try to Ambitions people do that really great.</span>

					</div>
				</div>
			</div>
		</section>
		<!-- END OUR STUDIOS -->


		<!-- START OUR STUDIOS -->
		<section class="sec-space">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<div class="main-heading">
							<h4>Intelligent</h4>
							<h1>Projects</h1>
							<span>who try to belittle your ambitions Small people always do that but the really great.</span>
						</div>
					</div>

					<div class="projects">

						{% for c in all %}
						<div class="col-md-6">
							<div class="project-sec">

								<div class="work">
									<div class="grid">

									<figure class="effect-sadie">
										<div class="image"><img height="300" src="{% if c.image %}{{ c.image.url }}{% else %}{% endif %}" alt=""></div>

										<figcaption>
											<h2><img src="{% static 'images/plus.png' %}" alt=""></h2>
											<a href="{{c.get_absolute_url}}"></a>
										</figcaption>
									</figure>

									<div class="detail">
										<span class="number">{{c.id}}.</span>
										<div class="text">
											<h6>{{c.name}}</h6>
											{% if c.sold == True %}
											<span class="tags">Available</span>
											{% elif c.sold == False %}
											<span class="tags">Sold</span>
											{% else %}
											<span class="tags">A Yapi</span>
											{% endif %}
										</div>
									</div>

									</div>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</section>
		<!-- END OUR STUDIOS -->



		<!-- START OUR STUDIOS -->
		<section class="sec-space clients-words">
		  <div class="container">

			<div class="col-md-12">
				<div class="main-heading white">
					<h4>kind-words</h4>
					<br>
					<h1>Yorumlar</h1>
				</div>
			</div>


			<div class="col-md-12">

				<div class="kind-words">
					<div id="client-words" class="owl-carousel">
						{% for y in comment %}
						<div>
							<p>{{y.info}}</p>
							<span>- {{y.name}}, <span class="client">Müşteri</span></span>
						</div>
						{% endfor %}

					</div>
				</div>


			</div>

			</div>
		</section>



		<!-- START OUR STUDIOS -->
		<section class="sec-space">
			<div class="container">

				<div class="row">

					<div class="col-md-12">
						<div class="main-heading">
							<h4>A YAPI</h4>
							<br>
							<h1>Hizmetlerimiz</h1>
							<span>En iyi yaşam alanları sizlerle</span>
						</div>
					</div>


					<div class="clear"></div>
					<div class="what-we-do">
					<div id="tabbed-nav">
								<ul>
									<li><a>Taahüt</a></li>
									<li><a>Mimari Destek</a></li>
									<li><a>Satış Sonrası</a></li>
									<li><a>Teknik Destek</a></li>
									<li><a>Yatırım</a></li>
								</ul>


									<div>
									{% for y in service %}
									<div>

									   <div class="row">

										<div class="col-md-6">
											<div class="welcome-serv-img">
												<img src="{% if y.picture %}{{ y.picture.url }}{% else %}{% endif %}" alt="">
											</div>
										</div>

										<div class="col-md-6">

											<div class="detail">
												<p>{{y.info | safe}} </p>
											</div>

										</div>

									   </div>


									</div>
									{% endfor %}


									</div>

					</div>

					</div>


				</div>

			</div>
		</section>

	</div>



  </div>



{% endblock %}


{% block jss %}
{% endblock %}