{% extends "base.html" %}

{% load static i18n %}

{% block css %}


{% endblock %}

{% block seo %}


<title>A Yapı Projeler</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2022.01" />

{% endblock %}




{% block content %}
<br>
<br>
<div class="content">


	<section class="sec-space">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<div class="main-heading">
							<h4>Intelligent</h4>
							<h1>Projects</h1>

						</div>
					</div>

{% for x in sales %}
	<!-- START CONTENT -->
	<div class="sub-content">

		<!-- START ABOUT US -->
			<section>
				<div class="container">

					<div class="some-about">

						<div class="row">

						<div class="col-md-12">
							<div id="about-slide" class="owl-carousel owl-theme">

								<div class="item"><img src="{% if x.image2 %}{{ x.image2.url }}{% else %}{% endif %}" alt=""></div>
								<div class="item"><img src="{% if x.image3 %}{{ x.image3.url }}{% else %}{% endif %}" alt=""></div>
								<div class="item"><img src="{% if x.image4 %}{{ x.image4.url }}{% else %}{% endif %}" alt=""></div>
								<div class="item"><img src="{% if x.image5 %}{{ x.image5.url }}{% else %}{% endif %}" alt=""></div>
								<div class="item"><img src="{% if x.image6 %}{{ x.image6.url }}{% else %}{% endif %}" alt=""></div>

							</div>
						</div>

						<div class="about-detail">

						<div class="col-md-12">
						<p><span class="big-text"></span>{{x.list_info | safe}}
						</div>

						</div>

						</div>


					</div>

				</div>
			</section>

{% endfor %}

					<div class="projects">

						{% for x in products %}
						<div class="col-md-6">
							<div class="project-sec">

								<div class="work">
									<div class="grid">

									<figure class="effect-sadie">
										<div class="image"><img height="300" src="{% if x.image %}{{ x.image.url }}{% else %}{% endif %}" alt=""></div>

										<figcaption>
											<h2><img src="{% static 'images/plus.png' %}" alt=""></h2>
											<a href="{{x.get_absolute_url}}"></a>
										</figcaption>
									</figure>

									<div class="detail">
										<span class="number">01</span>
										<div class="text">
											<h6>{{x.name}}</h6>
											{% if x.sold == True %}
											<span class="tags">Available</span>
											{% elif x.sold == False %}
											<span class="tags">Sold</span>
											{% else %}
											<span class="tags">A Yapi</span>
											{% endif %}
										</div>
									</div>

									</div>
								</div>
							</div>
						</div>
						{% endfor %}




					</div>




				</div>
			</div>
			</div>
		</section>
		{% for s in sales %}
		<section class="sec-space">
		  <div class="container">

						<div class="main-heading">
							<h4>Intelligent</h4>
							<h1>Son Durum</h1>

						</div>

			<div class="col-md-12">

				<img src="{% if s.image %}{{ s.image.url }}{% else %}{% endif %}">

			</div>



			</div>
		</section>
		{% endfor %}
		<br>
		<br>
		<br>
		<br>
		<br>
		<section class="sec-space clients-words">
		  <div class="container">

			<div class="col-md-12">
				<div class="main-heading white">

					<h1>A Yapi</h1>
				</div>
			</div>



			</div>
		</section>





	</div>

{% endblock %}





{% block jss %}

{% endblock %}