{% load static i18n %}
	<!-- START FOOTER -->
	<footer class="footer">
		<div class="container">

			<div class="footer-detail">
				<div class="row">

					<div class="col-md-4">
						<div class="footer-sec">
							<h3>İletişim</h3>
							<span>+90 532 612 60 69 <br/>hello@ayapi.net</span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="footer-sec">
							<h3>Adres</h3>
							<span>Akyaka <br/>Ula/Muğla</span>
						</div>
					</div>

					<div class="col-md-4">
						<div class="footer-sec">
							<h3>Sosyal Ağ</h3>
							<div class="social-icons">
								<a href="#." class="fb"><i class="icon-facebook-1"></i></a>
								<a href="#." class="gp"><i class="icon-instagram"></i></a>
							</div>
						</div>
					</div>


				</div>
			</div>


		</div>

		<div class="footer-bottom">
			<div class="copyrights">
				<div class="container">
					<p>Copyright © 2021 A YAPI. All right reserved.</p>
					<span>Design by: <a href="/">A YAPI</a></span>

				</div>
			</div>
		</div>

	</footer>
	<!-- END FOOTER -->