{% load static i18n %}
<div id="wrap">

	<!-- LOADER -->
	<div id="loader-wrapper">
	  <div id="loader"><img src="{% static 'logonow.png' %}" alt=""><span>Loading...</span></div>
	  <!--/#loader-->
	  <div class="loader-section section-left"></div>
	  <!--/#loader-section section-left-->
	  <div class="loader-section section-right"></div>
	  <!--/#loader-section section-right-->
	</div>


	<!-- CUSTOM MENU START -->
	<div class="mobile-menu">
        <div class="cd-header">
        	<a class="cd-primary-nav-trigger" href="javascript:void(0);">
				<span class="cd-menu-icon"></span>
			</a>
        </div>


        <nav>
		<ul class="cd-primary-nav">
			<li class="cd-label">A Yapi</li>

			<li><a href="/">Ana Sayfa</a></li>
			<li><a href="/ayapi/projects">Projeler</a></li>

			<li><a href="/ayapi/about">Hakkımızda</a></li>
			<!--li><a href="/ayapi/news">News</a></li-->
			<li><a href="/ayapi/contact">İletişim</a></li>

			<li class="social-icons">
            	<a href="#."><span class="icon-facebook-1"></span></a>
                <a href="#."><span class="icon-twitter-1"></span></a>
                <a href="#."><span class="icon-google"></span></a>
                <a href="#."><span class="icon-behance"></span></a>
            </li>

		</ul>
	</nav>
	</div>
    <!-- CUSTOM MENU END -->

	<!-- MAIN HEADER -->

	<header class="header-one cb-header">
			<div class="container">

				<div class="header">
				<div class="row">
					<div class="col-md-12">

						<div class="logo">
							<a href="/"><img src="{% static 'logonow.png' %}" alt=""></a>
						</div>

						<div class="navigation">

						<ul>
							<li class="select"><span>01.</span><a href="/">Ana Sayfa</a></li>
							<li><span>02.</span><a href="/ayapi/projects">Projeler</a></li>

							<li><span>03.</span><a href="/ayapi/about">Hakkımızda</a></li>
							<!--li><span>04.</span><a href="/ayapi/news">news</a></li-->
							<li><span>05.</span><a href="/ayapi/contact">İletişim</a></li>
						</ul>



						</div>



					</div>
				</div>
				</div>

			</div>
	</header>


	<!-- STICKY HEADER -->
	<header class="header-two cb-header">
			<div class="container">

				<div class="header">
				<div class="row">
					<div class="col-md-12">

						<div class="logo">
							<a href="/"><img width="100" src="{% static 'logonow.png' %}" alt=""></a>
						</div>

						<div class="navigation">

						<ul>
							<li class="select"><a href="/">Ana Sayfa</a></li>
							<li><a href="/ayapi/projects">Projeler</a></li>

							<li><a href="/ayapi/about">Hakkımızda</a></li>
							<!--li><a href="/ayapi/news">news</a></li-->
							<li><a href="/ayapi/contact">İletişim</a></li>
						</ul>


						</div>



					</div>
				</div>
				</div>

			</div>
	</header>
</div>